.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.container {
  max-width: 1140px;
}
.row {
  justify-content: center;
}
.icon {
  font-size: 1.5rem;
}

[data-theme="dark"] .card {
  box-shadow: 0 8px 24px 4px rgba(28, 29, 29, 0.85);
}
.card {
  height: 100%;
  color: var(--ifm-font-color-base);
  border-radius: 0.65rem;
  box-shadow: 0 8px 24px 4px rgba(228, 229, 229, 0.85);
  transition-property: all;
  transition-duration: 0.2s;
  padding: 1.5rem 1.8rem 1.7rem;
}
.card h3 {
  font-size: 1.063rem;
  color: var(--ifm-color-primary);
  font-family: Montserrat, sans-serif;
}
.card p {
  margin-bottom: 0;
}
.card:hover {
  text-decoration: none;
}
.card:hover p {
  color: var(--ifm-color-primary);
}

.heroBanner {
  padding: 3rem 0 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.heroBanner h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  font-family: Montserrat, sans-serif;
  color: var(--ifm-color-primary);
}
.heroBanner p {
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
