name: deploy-staging

on:
  push:
    branches: [master]
  repository_dispatch:
    types: deploy-staging
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install packages
        working-directory: website
        run: |
          npm install
      - name: Build website
        working-directory: website
        run: |
          npm run build
        env:
          CI: false
      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET_STAGING }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1"
          SOURCE_DIR: "build/docs"
      # - name: Slack Notification
      #   uses: rtCamp/action-slack-notify@master
      #   env:
      #     SLACK_ICON_EMOJI: ":page_with_curl:"
      #     SLACK_USERNAME: docs.elrond.com
      #     SLACK_MESSAGE: ${{ secrets.AWS_S3_BUCKET_STAGING }}
      #     SLACK_FOOTER: ""
      #     MSG_MINIMAL: true
      #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
