name: Builds and tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  rust_test:
    name: Rust tutorial code test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92
      - name: Run rust tests
        run: ./testing/rust-tutorial-ci.sh
